<%= render '/header' %>
  <div class='body'>
    <div class='about'>
      <h1><strong>Gamersとは</strong></h1>
      <h3>【ゲーマーのための交流プラットフォーム】</h3>
      <h3>同じゲームをプレイする仲間を見つけて一緒にゲームをプレイしよう！</h3>
    </div>
  </div>

<!--下からいい感じに四角が浮き上がってきます-->
  <div class="area" >
    <ul class="circles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>



