<%= render '/header' %>
  <p id="notice">
    <%= notice %>
  </p>
  <div class='context'>
    <h1><strong>Gamers</strong></h1>
  </div>
  <!--下からいい感じに四角が浮き上がってきます-->
  <div class="area" >
    <ul class="circles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>