/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

.context {
    width: 100%;
    position: absolute;
    top:50vh;
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}

// ここから背景の動き
.area{
    background: #6441A5;
    width: 100%;
    height:100vh;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}
// ここまで

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.body {
  margin-top: 51px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  background: #6441A5;
  height:100vh;
}

// 文字を黒色に
.brack{
  color:#000000;
  }

// 文字を紫に
.purple{
  color: #6441A5;
}

.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.navbar-left {
  font-size: 25px;
  padding-top: 5px;
  color:white
}

.navbar-nav > .glyphicon {
  color: #FFFFFF;
  padding:10px 15px;
  line-height: 20px;
}

.btn-success{
  margin-bottom:10px;
}

.btn-primary{
  margin-bottom: 10px;
}



.edit_user > .field{
  display:flex;
  font-size:14px;
}

.edit_user > .user_edit_field{
  margin-bottom:10px;
}


// 通知の色
#notice {
  color: green;
}

// formのデザイン
.form-search{
  border:none;
  border-radius:10px;
  box-shadow: none;
  padding: 2px 8px;
  display:inline-flex;
}

// aboutのデザイン
.about{
    text-align: center;
    width: 100%;
    position: absolute;
    top:40vh;
    color: #FFFFFF;
}

// Signupのデザイン
.signup{
    text-align: center;
    width: 100%;
}

.link {
  display: inline-block;
  padding: 0.1em 0.3em;
  transition: all .3s;
  color: #fff;
}
.link:hover {
  color: #fff;
  background-color: #8a2be2;
}
